@charset "UTF-8";

body{
    background-color: grey;
}

header{
    text-align: center;
}

section{
    background-color: #fff;
    position: absolute;
    padding: 17px;
    border-radius: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select#flista{
    width: 150px;
}

input[type="number"]{
    border: 1px solid #000;
}

input[type="button"]{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

p{
    line-height: 25px;
}

@media screen and (max-width:570px) {
    header{
        display: none;
    }

    section{
        width: 200px;
        margin-top: 50px;

    }

    #txtn{
        display: block;
        margin-bottom: 5px;
    }

    #flista{
        margin-bottom: 5px;
    }
}